[Unit]
Description=Check OpenOcti connections every five minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Persistent=true
RandomizedDelaySec=15

[Install]
WantedBy=timers.target
